.registro {
    padding: 20px;
}

.registro__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registro__titulo h3 {
    margin: 0;
}

.busqueda {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}


.busqueda__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7; /* Fondo suave */
    width: 40%;
    padding: 30px;
    gap: 10px;
    margin: 20px 20px;


}

.busqueda__form label {
    font-weight: bold;
    margin-bottom: 5px;
    align-self: flex-start;
}

/* Estilos para los inputs */
.busqueda__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}


.busqueda__button {
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    width: 200px;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    background-color: #133E87;
    color: #FFFFFF;
}


.busqueda__button--borrar {
    background-color: #dc3545; /* Rojo para indicar peligro o eliminación */
    color: white; /* Texto en blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
    transition: background-color 0.3s; /* Transición suave */
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
    font-size: 1em; /* Tamaño de fuente relativo */
    height: 50px;
}

.busqueda__registro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
}

.busqueda__registro-invitados {
    display: flex;
    
}

.busqueda__registro-invitados input, .busqueda__registro-invitados label {
    font-size: 17px;
}

.info {
    background-color: #f7f7f7; /* Fondo suave */
    padding: 20px;
    width: 50%; 
    margin: 0 20px;

}

.info__titulo {
    font-weight: bold;
    text-align: center;
}

.info__lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

}

.info__item {
    font-size: 20px;
    text-align: left;
    
}

/* Asegura que la imagen esté centrada dentro del li */
.info__item.foto {
    display: flex;
    justify-content: center;  /* Centra la imagen horizontalmente */
    align-items: center;      /* Centra la imagen verticalmente */
    text-align: center;       /* Asegura que el texto esté centrado si hay texto */
}

.info__item.datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.info__item img {
    border-radius: 50%;
    width: 150px;
    height: 200px;  /* Ajusta el tamaño de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}