.search__container {

}

.search__section {
    display: flex;
}

.search__form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box; /* Esto asegura que el padding no afecte el tamaño total */
}

.search__form-section--register {
    align-items: center;
    display: flex;
    padding: 10px;
}

.search__label {
    font-weight: bold;
}

.search__label {
    font-weight: bold;
    font-size: 1.2rem;
}

.search__input {
    font-size: 1.2rem;
    padding: 10px;
}

.search__input--number {
    width: 30px;
    margin-left: 10px;
}

.search__button {
    padding: 10px;
    font-size: 1.2rem;
    width: 40%;
    margin: auto;
    background-color: #12468a;
    color: #ffffff;
    border-radius: 12px; /* Bordes redondeados */
}

.search__button--delete {
    margin-top: 20px;
    display: block;
    text-align: center;
    background-color: #d81d08;
    color: #ffffff;
}

.search__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search__item {
    display: flex; /* Usamos flexbox para alinear la imagen y el texto en una fila */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 15px
}

.search__item-img {
    width: 200px; /* Define el tamaño deseado de la imagen */
    height: 250px; /* Mantener la proporción cuadrada */
    object-fit: cover; /* Asegura que la imagen se recorte si es necesario para llenar el espacio */
    border-radius: 50%; /* Para hacer la imagen circular */
    margin-right: 10px; /* Agregar espacio entre la imagen y el texto */
    border: 3px solid #ccc; /* Opcional: un borde alrededor de la imagen */
}

.search__data-section {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search__data-text {
    flex-grow: 1; /* El contenedor de texto ocupa el espacio restante */
}

.search__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.search__text--warning {
    font-size: 1.8rem;
    font-weight: bold;
    color: #d81d08;
    text-align: center;
}

.search__data-img {
    margin-right: 15px; /* Espacio entre la imagen y el texto */
}

