.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__content {
  display: flex;
  flex: 1; /* Ocupa todo el espacio vertical restante */
}

.app__routes {
  flex: 1; /* Ocupa el ancho restante */
  overflow: auto; /* Permite scroll si el contenido excede el viewport */
  background-color: #f5f5f5; /* Fondo claro para diferenciar */
}
